---
interface Props {
  tab_title: string;
  description: string;
  page_title?: string;
}

import "../styles/globals.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { tab_title, description, page_title } = Astro.props;
---

<!doctype html>
<html lang="no" class="bg-slate-100">
  <head>
    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <!-- Plasubile Analytics -->
    <script
      src="/stats/js/script.js"
      data-api="/stats/api/event"
      data-domain="bentesoppskrifter.no"></script>

    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{tab_title}</title>
    <meta name="title" content={tab_title} />
    <meta name="description" content={description} />
  </head>

  <body>
    <Header />
    <div class="flex h-screen flex-col">
      {
        page_title && (
          <h5 class="py-2 text-center text-3xl font-bold">{page_title}</h5>
        )
      }
      <main class="mx-auto flex-grow px-1 text-lg">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
