---
import "../styles/globals.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Seo from "../components/Seo.astro";

interface Props {
  tab_title: string;
  description: string;
  page_title?: string;
  seo_title?: string;
  seo_image?: string;
}

const { tab_title, description, page_title, seo_title, seo_image } =
  Astro.props;
---

<!doctype html>
<html lang="no" class="bg-slate-100">
  <head>
    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- Plasubile Analytics -->
    <script
      defer
      data-domain="bentesoppskrifter.no"
      src="https://analytics.mordi.dev/js/script.js"></script>

    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{tab_title}</title>
    <meta name="description" content={description} />
    <Seo title={seo_title} {description} {seo_image} />
  </head>
  <body>
    <Header />
    <div class="flex h-screen flex-col">
      {
        page_title && (
          <h5 class="py-2 text-center text-3xl font-bold">{page_title}</h5>
        )
      }
      <main class="mx-auto flex-grow px-1 text-lg">
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>
