---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"oppskrifter">["data"];

const { title, tags, ingredienser, heroImage, tattFra } = Astro.props;
---

<Layout description={`Oppskrift for: ${title}`} tab_title={title}>
  <section class="prose prose-lg lg:prose-xl mx-auto py-4 px-2">
    {
      tattFra && (
        <p class="text-sm">
          Denne oppskriften er fra eller basert på denne:{" "}
          <span>
            <a href={tattFra}>{tattFra}</a>
          </span>
        </p>
      )
    }
    <slot />
  </section>
  <hr class="w-full h-px my-4 bg-gray-300" />
  {
    heroImage && (
      <img
        class="mx-auto"
        height={360}
        width={720}
        src={heroImage}
        alt="bildet"
      />
    )
  }
</Layout>
