---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"oppskrifter">["data"] & {
  seo_image?: string;
};

const { title, tags, ingredienser, images, tattFra, seo_image } = Astro.props;
---

<Layout
  description={`Oppskrift for: ${title}`}
  tab_title={title}
  seo_title={title}
  {seo_image}
>
  <section
    class="prose mx-auto py-4 leading-6 lg:prose-lg xl:prose-xl lg:leading-6"
  >
    {
      tattFra && (
        <p class="w-fit rounded bg-gray-300 p-2">
          <span class="font-bold">NB! </span>Denne oppskriften er fra eller
          basert på denne:
          <a
            href={tattFra}
            target="_blank"
            rel="noopener noreferrer"
            class="block break-all font-bold underline underline-offset-1"
          >
            {tattFra}
          </a>
        </p>
      )
    }
    <slot />
  </section>
  <div class="flex max-w-4xl flex-col justify-center gap-4">
    {
      images &&
        images.map((img, index) => (
          <Image
            src={img}
            sizes={`(max-width: 480px) 400px, (max-width: 720px) 700px, (max-width: 960px) 900px`}
            widths={[400, 700, 900]}
            format="webp"
            alt={`Bilde (${index}) av oppskrift for ${title}`}
          />
        ))
    }
  </div>
</Layout>
