---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import { Image } from "astro:assets";

type Props = CollectionEntry<"oppskrifter">["data"];

const { title, tags, ingredienser, heroImage, tattFra } = Astro.props;
---

<Layout description={`Oppskrift for: ${title}`} tab_title={title}>
  <section class="prose prose-lg lg:prose-xl mx-auto py-4 px-2">
    {
      tattFra && (
        <p class="text-sm">
          Denne oppskriften er fra eller basert på denne:{" "}
          <span>
            <a href={tattFra}>{tattFra}</a>
          </span>
        </p>
      )
    }
    <slot />
  </section>
  <div class="flex flex-col gap-4 justify-center">
    {
      heroImage &&
        heroImage.map((img) => (
          <Image
            height={504}
            width={896}
            loading="lazy"
            src={img}
            alt="bildet"
          />
        ))
    }
  </div>
</Layout>
