---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";
import ResponsiveImage from "../components/ResponsiveImage.astro";

type Props = CollectionEntry<"oppskrifter">["data"];

// has to be enabled for dynamic image resizing
//export const prerender = true;

const { title, tags, ingredienser, heroImage, tattFra } = Astro.props;
---

<Layout description={`Oppskrift for: ${title}`} tab_title={title}>
  <section class="prose prose-lg mx-auto px-2 py-4 lg:prose-xl">
    {
      tattFra && (
        <p class="text-sm">
          Denne oppskriften er fra eller basert på denne:{" "}
          <span>
            <a href={tattFra}>{tattFra}</a>
          </span>
        </p>
      )
    }
    <slot />
  </section>
  <div class="flex max-w-4xl flex-col justify-center gap-4">
    {
      heroImage &&
        heroImage.map((img) => (
          <ResponsiveImage
            src={img}
            sizes={[400, 700, 900]}
            alt="bildet av oppskriften"
            format="avif"
          />
        ))
    }
  </div>
</Layout>
